<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% if title %}
            <title>Workspaces - {{ title }}</title>
        {% else %}
            <title>Workspaces</title>
        {% endif %}
    </head>

    <body>
        <header class="nav-bar">
            <div class="logo-box">

            </div>
            <div class="nav-links">
                <a href="/">Home</a>
                <a href="#">Calendar</a>
                <a href="#">Profile</a>
            </div>
        </header>
        <main class="app-container">
            {% block content %}
            {% endblock %}
        </main>
    </body>



</html>